.jumbotron{
    height: 95vh;
      background-image: url('./../../assets/43747c64.png') !important;
    background-repeat: repeat;
    margin-bottom: 0;
      align-content: center;
      margin-top:1px;
      padding-top: 50px;
   
}
.img-opaq
{
  opacity: 0.6;
}
.txt-ctr
{
  text-align: center !important;

}

.carousel-inner > .item > img {
    margin: 0 auto !important;
    position: absolute;
}

.img-half
{
  height: 60vh;
  width: 60vh;
}

.carousel
{
  margin-top:20px;
}
